[user]
	name = ventopreto

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  dark = true      # or light = true, or omit for auto-detection
	side-by-side = true
  line-numbers = true
  hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"
[merge]
	conflictstyle = zdiff3